@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

:root {
	--lavendar: #ab99c2;
	--black: #130f40;
	--dark-purple: #694d69;
	--light: #fcfcfc;
	--deep-purple: #490575;
	--box-shadow: 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
	--border: 2rem solid rgba(0, 0, 0, 0.1);
	--outline: 0.1rem solid rgba(0, 0, 0, 0.1);
}

* {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.2s linear;
}

html 
{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}

body {
	background: #e0daf2;
}

/* css code for banner */


section
{

padding: 2rem 9%;

}


.heading 
{
	text-align: center;
	padding: 2rem 0;padding-bottom: 3rem;
	font-size: 3.5rem;
	color: var(--deep-purple);
}

.heading span 
{
	background: var(--lavendar);
	color: #fff;
	display: inline-block;
	padding: .5rem 3rem;
	clip-path:  polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%,0% 0%);

}

















.btn 
{
	border: .2rem solid var(--lavendar);
	margin-top: 1rem;
	display: inline-block;
	padding: .8rem 3rem;
	font-size: 1.7rem;
	border-radius: .5rem;
	cursor: pointer;
	background: none;
}

.btn:hover
{
	background: var(--lavendar);
	color: #fff;
}


.header 
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
	background: #fff;
	box-shadow: var(--box-shadow);
}
.header .logo 
{
	font-size: 2.5rem;
	font-weight: bolder;
}

.header .logo i
{
	color: var(--dark purple)
}

.header .navbar a
{
	font-size: 1.7rem;
	margin: 0 2rem;
}
.header .navbar a:hover 
{
	color: var(--deep-purple);
}

.header .icons div 
{
	
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	border-radius: .5rem;
	background: #e0daf2;
	color: var(--white);
	font-size: 1.5rem;
	margin-right: .3rem;
	text-align: center;
	cursor: pointer;
}

.header .icons div:hover
{
	background: var(--deep-purple);
}

#menu-btn
{ display:none }


.header .navbar.active
{
	right: 2rem;
	transition: .4s linear;
}


.header .search-form
{
	position: absolute;
	top: 110%;
	right: -115%;
	width: 50rem;
	height: 4rem;
	background: #fff;
	border-radius: .5rem;
	overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active 
{
	right: 2rem;
	transition: .4s linear;
}

.header .search-form input
{
	height: 100%;
	width: 100%;
	background: none;
	text-transform: none;
	font-size: 1.6rem;
	color: var(--deep-purple);
	padding: 0 1.5rem;
}

.header .search-form label
{
	font-size: 2.2rem;
	padding-right: 1.5rem;
	color: var(--deep-purple);
	cursor: pointer;
}

.header .search-form label:hover
{
	color: var(--lavendar);
}


.header .shopping-cart 
{
	position: absolute;
	top: 110%;
	right: -110%;
	padding: 1rem;
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	width: 30rem;
	background: #fff;
}

.header .shopping-cart.active
{
	right: 2rem;
	transition: .4s linear;
}

.header .shopping-cart .box 
{
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
	margin: 1rem 0;
}

.header .shopping-cart .box img
{
	height: 10rem;	
}

.header .shopping-cart .box  .fa-trash 
{
	font-size: 2rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	cursor: pointer;
	color: var(--lavendar);
	transform: translateY(-50%);
}

.header .shopping-cart .box  .fa-trash:hover
{
	color: var(--deep-purple);
}

.header .shopping-cart .box .content h3
{
	color: var(--deep-purple);
	font-size: 1.7rem;
	padding-bottom: 1rem;
}

.header .shopping-cart .box .content span
{
	color: var(--lavendar);
	font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity
{
	padding-left: 1rem;
}

.header .shopping-cart .total
{
	font-size: 2.5rem;
	padding: 1rem 0;
	text-align: center;
	color: var(--black);
}

.header .shopping-cart .btn 
{
	display: block;
	text-align: center;
	margin: 1rem 0;
}

.header .login-form
{
	position: absolute;
	width: 30rem;
	top: 110%;
	right: -110%;
	box-shadow: var(--box-shadow);
	padding: 2rem;
	border-radius: .5rem;
	background: #fff;
	text-align: center;
}

.header .login-form.active

{
	right: 2rem;
	transition: .4s linear;
}

.header .login-form h3
{
	font-size: 2.5rem;
	text-transform: uppercase;
	color: var(--deep-purple);
}

.header .login-form .box 
{
	margin: .7rem 0;
	background: var(--lavendar);
	border-radius: .5rem;
	padding: 1rem;
	font-size: 1.6rem;
	color: var(--white);
	width: 100%;
}

.header .login-form p
{
	font-size: 1.4rem;
	padding: .5rem;
	color: var(--lavendar);
}

.header .login-form p a
{
	text-decoration: underline;
}


.home 
{
	display: flex;
	justify-content: center;
	background: url(../image/cloud-haze-resource-floating-clouds-9eaf99cf26634cc595fa7d8c7f1eeba3.png) no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 17rem;
	padding-bottom: 10rem;
}


.home .content
{
	text-align: center;
	width: 60rem;
}


.home .content h3
{
	color: var(--deep-purple);
	font-size: 3rem;
}

.home .content h3 span
{
	color: var(--dark-purple);
}

.home .content p
{
	color: var(--dark-purple);
	font-size: 1.7rem;
	padding: 1rem 0;
	line-height: 1.8;
}

/*features*/

.features .box-container 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.features .box-container .box 
{
  border: 0px solid;
  padding: 3rem 2rem;
  background: #fff;
  outline: var(--dark-purple);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
  box-shadow: 10px 10px 25px 16px var(--lavender);
}

.features .box-container .box img {
  margin: 1rem 0;
  height: 15rem;
}

.features .box-container .box h3 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--deep-purple);
}

.features .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--dark-purple);
  padding: 1rem 0;
}

/*features*/






/* Products */

.products .products-slider 
{
 padding: 1rem;
}

.products .products-slider:first-child
{
  margin-bottom: 2rem;

}

.products .products-slider .box 
{
	background: var(--lavendar);
	border-radius: .5rem;
	text-align: center;
	padding: 3rem 2rem;
	box-shadow: var(--box-shadow);
	transition: .2s linear;
}

.products .products-slider .box:hover
{
	box-shadow: 10px 10px 25px 16px var(--lavender);
}

.products .products-slider .box img 
{
	height: 20rem;
}

.products .products-slider .box h1
{
	font-size: 2rem;
	color: #fff;
}

.products .products-slider .box .price 
{
	font-size: 2rem;
	color: var(--dark-purple);
	padding: .5rem 0;

}

.products .products-slider .box .star i 
{
	font-size: 1.7rem;
	color: #fff;
	padding: .5rem 0;
	
}

/* Products */


/* Categories */

.categories .box-container 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem;
}


.categories .box-container .box 
{
  padding: 3rem 2rem;
  background: #fff;
  outline: var(--dark-purple);
  outline-offset: -1rem;
  text-align: center;
}



.categories .box img 
{
  max-width: 50%; /* Make sure image fits within box */
  max-height: 75%; /* Make sure image fits within box */
  object-fit: contain; /* Ensure image retains aspect ratio and fits inside box */
}


/* Categories */




/* footer css */

.footer
{
	background: #fff;
}

.footer .box-container
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
	gap:1.5 rem;
}

.footer .box-container .box h3
{
	font-size: 2.5rem;
	color: var(--deep-purple);
	padding: 1rem 0;
}


.footer .box-container .box .links
{
	display: block;
	font-size: 1.5rem;
	color: var(--lavendar);
	padding: 1rem 0;
}


.footer .box-container .box .links:hover i 
{
	color: var(--deep-purple);
}

.footer .box-container .box .share a 
{
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	border-radius: .5rem;
	font-size: 2rem;
	color: #fff;
	margin-left: .2rem;
	background: var(--lavendar);
	text-align: center;
}

.footer .box-container .box .share a:hover
{
	background: var(--deep-purple);
	color: #fff;
} 


.footer .box-container .box .share p
{
	line-height: 1.8;
	font-size: 1.5rem;
	color: var(--dark-purple);
	padding: 1rem 0;
}


.footer .box-container .box .email
{
	width: 100%;
	margin: .7rem 0;
	padding: 1rem;
	border-radius: .5rem;
	background: var(--lavendar);
	font-size: 1.6rem;
	color: var(--deep-purple);
	text-transform: none;
}


.footer .box-container .box p

{
	color: var(--dark-purple);
	font-size: 1.5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}


.footer .box-container .box .btn
{
	background: var(--lavendar);
	color: #fff;
}


.footer .box-container .box .btn:hover
{
	background: var(--deep-purple);
	color: #fff;
}


.footer .credit 
{
	text-align: center;  
	margin-top: 2rem;
	padding: 1rem;
	padding-top: 2.5rem;
	font-size: 2rem;
	color: var(--deep-purple);
	border-top: var(--lavendar) ;
}

.footer .credit span 

{
	color: var(--deep-purple);
}





/* footer css */




/* media queries */
@media (max-width: 991px)
{
html 
{
	font-size: 55%;

	.header 
	{
		padding: 2rem;
	}
section 
	{
		padding: 2rem;
	}
}

@media (max-width: 768px)
{

	#menu-btn
{ display: inline-block; }

    .header .search-form
{
	width: 90%;
}


  .header .navbar
  {
  	position: absolute;
  	top: 110%;
  	right: -110%;
  	width: 30rem;
  	box-shadow: var(--box-shadow);
  	border-radius: .5rem;
  	background: #fff;
  }

.header .navbar a 
{
	font-size: 2rem;
	margin: 2rem 2.5rem;
	display: block;

}


}

@media (max-width: 450px)
{
html 
{
	font-size: 50%;
}

.heading
{
	font-size: 2.5rem;
}


}